.appWrapper {
	width: 1440px;
	min-height: 100vh;
	display: grid;
	grid-template-areas: 'header'
												'mainContent'
												'footer';
	grid-template-rows: minmax(80px, auto) 1fr minmax(32px, auto);
	margin: 0 auto;
}